.met_color {
    color: #D8D8D8;
}

.met_color2 {
    color: #0EBFCA;
}

.met_color3 {
    color: #212226;
}

.met_bgcolor {
    background-color: #212121;
}

.met_bgcolor_trans {
    background-color: rgba(235, 35, 38, 0.3);
}

.met_title_link * {
    -webkit-transition: color ease 0.3s;
    -moz-transition: color ease 0.3s;
    -ms-transition: color ease 0.3s;
    -o-transition: color ease 0.3s;
}

.met_page_wrapper {
    background-color: #171717;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.met_page_wrapper.met_boxed_layout {
    margin: 0 auto;
    width: 1170px;
    box-shadow: 0 0 5px #CCCCCC;
    padding-right: 0;
    position: relative;
}

.met_boxed_layout .met_content {
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}

.met_content {
    width: 1170px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

.met_content_footer {
    width: 1170px;
    margin: 0 auto;
    z-index: 3;
}

section.met_content {
    clear: left;
}

.row-fluid {
    margin-bottom: 80px
}

.met_splitter {
    height: 40px;
    float: left;
    width: 100%;
}

.row-fluid .row-fluid:last-child {
    margin-bottom: 0
}

.met_text_under_image {
    margin-top: 22px;
}

.met_color_transition {
    -webkit-transition: color ease 0.3s;
    -moz-transition: color ease 0.3s;
    -ms-transition: color ease 0.3s;
    -o-transition: color ease 0.3s;
    cursor: pointer;
}

.met_color_transition:hover {
    color: #D8D8D8;
}

b {
    font-weight: 400;
}

.met_no_margin {
    margin: 0 !important;
}

.met_color_white {
    color: #FFFFFF;
}

::selection {
    background: #D8D8D8;
    color: #171717;
}

.scrolled__item {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.scrolled_status_show .scrolled__item {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.met_br_tl {
    border-top-left-radius: 5px;
}

.met_br_tr {
    border-top-right-radius: 5px;
}

.met_br_br {
    border-bottom-right-radius: 5px;
}

.met_br_bl {
    border-bottom-left-radius: 5px;
}

/*-------------------------------
	Header
 ------------------------------*/
header {
    background-color: #171717;
    height: 160px;
    -webkit-transition: height linear 0.1s;
    -moz-transition: height linear 0.1s;
    -ms-transition: height linear 0.1s;
    -o-transition: height linear 0.1s;
    position: relative;
    z-index: 4;
    width: 100%;
    box-shadow: 0 0 3px 0 #000000;
    -moz-box-shadow: 0 0 3px 0 #000000;
    -webkit-box-shadow: 0 0 3px 0 #000000;
    -webkit-backface-visibility: hidden;
}

.header .row-fluid {
    margin-bottom: 0;
}

.met_fixed_header {
    padding-top: 160px;
}

.met_fixed_header:before {
    position: absolute;
    content: '';
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background-color: #171717;
}

.met_fixed_header > header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
}

header + div + section {
    padding-top: 40px;
}

.met_logo_container {
    display: block;
    margin-top: 55px;
    -webkit-transition: margin-top linear 0.2s;
    -moz-transition: margin-top linear 0.2s;
    -ms-transition: margin-top linear 0.2s;
    -o-transition: margin-top linear 0.2s;
}

.met_logo_container {
    width: auto;
    height: 38px;
    display: block;
}

.met_fixed_header .met_logo_container.met_logo_up {
    margin-top: 5px;
}

.met_header_head {
    height: 40px;
    background-color: #212121;
    box-shadow: 0 0 3px 0 #000000;
    -moz-box-shadow: 0 0 3px 0 #000000;
    -webkit-box-shadow: 0 0 3px 0 #000000;
    position: relative;
    z-index: 2;
}

.met_header_head + .met_content {
    position: relative;
    z-index: 1;
}

.met_header_head a.met_header_head_link {
    margin-right: 15px;
    display: block;
    text-decoration: none;
}

.met_header_head a.met_header_head_link.pull-right {
    line-height: 40px;
    margin-right: 15px;
    color: #797D7F;
    font-family: 'Open Sans';
    font-size: 12px;

}

.met_header_head a.pull-right:hover {
    color: #D8D8D8;
    -webkit-transition: color ease 0.3s;
    -moz-transition: color ease 0.3s;
    -ms-transition: color ease 0.3s;
    -o-transition: color ease 0.3s;
}

.met_header_head a.met_header_head_link {
    color: #7A7E7F;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}

.met_logo_up + .met_main_menu {
    margin-top: 24px;
}

.met_main_menu {
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin: 79px 0 0 0;
    -webkit-transition: margin-top linear 0.2s;
    -moz-transition: margin-top linear 0.2s;
    -ms-transition: margin-top linear 0.2s;
    -o-transition: margin-top linear 0.2s;
}

.met_main_menu > li > a {
    color: #6D7071;
    padding: 6px 15px;
}

.met_main_menu a {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    -webkit-transition: color ease 0.3s;
    -moz-transition: color ease 0.3s;
    -ms-transition: color ease 0.3s;
    -o-transition: color ease 0.3s;
}

.met_main_menu a:hover {
    text-decoration: none;
    color: #D8D8D8;
}

.met_main_menu > li {
    list-style: none;
    float: left;
    height: 30px;
    line-height: 30px;
    position: relative;
    border-radius: 10px 0 0 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.met_main_menu > li.met_menu_border_radius {
    border-radius: 0 10px 0 0;
}

.met_main_menu > li:hover {
    background-color: #212121;
}

.met_main_menu li ul {
    min-width: 144px;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    background-color: #212121;
    padding-top: 0;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all ease 0s;
    -moz-transition: all ease 0s;
    -ms-transition: all ease 0s;
    -o-transition: all ease 0s;
}

.met_main_menu li:hover > ul {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.met_main_menu li ul li {
    list-style: none;
    display: block;
    width: 100%;
    float: left;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #171717;
    position: relative;
    -webkit-transition: background-color ease 0.3s, color ease 0.3s;
    -moz-transition: background-color ease 0.3s, color ease 0.3s;
    -ms-transition: background-color ease 0.3s, color ease 0.3s;
    -o-transition: background-color ease 0.3s, color ease 0.3s;
}

.met_main_menu li ul li:last-child {
    border-bottom: none;
}

.met_main_menu li ul li a {
    font-size: 12px;
    color: #6D6F7B;
    line-height: 40px;
    height: 40px;
    display: block;
    padding: 0 10px;
}

.met_main_menu li ul li a:hover {
    position: relative;
}

.met_main_menu li ul li:hover {
    background-color: #171717;
    color: #FFFFFF;
}

.met_main_menu li ul li.met_has_lower > a:after {
    position: absolute;
    font-family: FontAwesome;
    right: 10px;
    content: '\f105';
    font-size: 12px;
    color: #6D6F7B;
    line-height: 40px;
    height: 40px;
}

.met_main_menu li ul li ul {
    left: 100%;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
}

.met_main_menu li ul.met_menu_to_left {
    left: -115%;
}

.met_logo_up {
    margin-top: 28px;
}

header + .met_content > .row-fluid:first-child .met_page_heading,
header + .met_content > .row-fluid:first-child .met_page_title {
    margin-top: 40px;
}

.met_page_heading {
    padding: 40px 0;
    line-height: 40px;
    color: #D8D8D8;
    font-size: 36px;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;

}

.met_subtitle {
    font-size: 11px;
    text-decoration: none;
    display: inline-block;
    line-height: 13px;
    position: relative;
    top: -2px;
    font-family: 'Roboto Condensed';
    color: #595959;
    margin-left: 5px;
}

.met_gray_icon {
    color: #989898;
}

/*-------------------------------
	Footer
 ------------------------------*/
footer {
    background-color: #121212;
}

footer > .met_content {
    padding-top: 80px;
    padding-bottom: 80px;
}

footer > .met_content > .row-fluid {
    margin-bottom: 0;
}

.met_footer_footer {
    color: #FFFFFF;
    background-color: #0C0C0C;
    text-decoration: none;
    padding: 37px 0;
}

.met_footer_footer p {
    color: #595959;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 0;
    line-height: 27px;
}

.met_footer_footer ul {
    margin-bottom: 0;
}

.met_footer_footer li {
    list-style: none;
    float: left;
    margin: 0 15px;
    line-height: 27px;
}

/*-------------------------------
	Twitter Ticker
 ------------------------------*/
.met_twitter_ticker {
    height: 175px;
    overflow: hidden;
    position: relative;
}

.met_twitter_ticker .met_tweet {
    margin-bottom: 5px;
}

.met_twitter_ticker .met_tweet i {
    float: left;
    font-size: 24px;
    color: #575757;
}

.met_twitter_ticker .met_tweet p {
    margin-bottom: 0;
    line-height: 19px;
}

.met_twitter_ticker .met_tweet div {
    margin-left: 32px !important;
}

.met_twitter_ticker .met_tweet div span {
    font-size: 11px;
    color: #454D53;
    font-style: italic;
}

/*-------------------------------
	Page Title Line
 ------------------------------*/
.met_page_title {
    position: relative;
}

.met_page_title_tail {
    position: absolute;
    height: 160px;
    background-color: #212121;
    top: 0;
    left: 0;
}

.met_page_title_tail_right {
    position: absolute;
    height: 160px;
    background-color: #212121;
    top: 0;
    right: 0;
}

.met_page_title h1 {
    background: #212121;
    float: left;
    display: block;
    min-height: 160px;
    line-height: 160px;
    font-size: 48px;
    padding-right: 50px;
    margin: 0 30px 0 0;
}

.met_page_title p {
    font-size: 30px;
    line-height: 35px;
    color: #D8D8D8;
    margin: 0;
}

/*-------------------------------
	Big Titles
 ------------------------------*/
div .met_big_title:first-child {
    margin-top: 0;
}

.met_big_title {
    font-size: 30px;
}

/*-------------------------------
	Contact Form
------------------------------*/
::-webkit-input-placeholder {
    color: #595959;
    font-size: 12px;
}

::-moz-placeholder {
    color: #595959;
    font-size: 12px;
}

/* firefox 19+ */
:-ms-input-placeholder {
    color: #595959;
    font-size: 12px;
}

/* ie */
input:-moz-placeholder {
    color: #595959;
    font-size: 12px;
}

.met_contact_form .met_input_text,
.met_contact_form .met_textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    border-radius: 0;
    box-shadow: none;
    border: none;
    height: auto;
    padding: 11px;
    width: 100%;
    float: left;
    background-color: #232323;
    color: #595959;
}

.met_short_container {
    width: 49%;
    float: left;
}

.met_short_container:nth-child(even) {
    margin-left: 2%;
}

.met_long_container {
    width: 100%;
    float: left;
}

.met_contact_form .met_textarea {
    width: 100%;
    height: 90px;
}

.met_button {
    background-color: #0F1010;
    border: none;
    text-align: center;
    padding: 12px 36px;
    font-size: 12px;
    color: #D8D8D8;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.met_button:hover {
    background-color: #D8D8D8;
    color: #0F1010;
}

.met_label {
    line-height: 25px;
    font-size: 14px;
}

.met_contact_thank_you {
    display: none;
}

/*-------------------------------
	Metro Sidebar Components
 ------------------------------*/
.met_metro_title {
    float: left;
    width: 100%;
    color: #D8D8D8;
    display: table;
    height: 40px;
    margin-bottom: 20px;
}

.met_metro_title:hover {
    text-decoration: none;
}

.met_metro_title span:first-child {
    height: 40px;
    width: 30px;
    line-height: 40px;
    font-size: 20px;
    color: #575757;
    display: inline-block;
    float: left;
}

.met_metro_title span:last-child {
    line-height: 40px;
    font-size: 30px;
}

/*-------------------------------
	Isotope Filtering
------------------------------*/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/*-------------------------------
	HTML5 Audio Player
------------------------------*/
.met_audio_player {
    background-color: #212121;
    border-radius: 4px;
}

.met_audio_play_pause {
    width: 50px;
    height: 50px;
    line-height: 45px;
    border: none;
    border-right: 1px solid #171717;
    color: #575757;
    text-align: center;
    font-size: 13px;
    background: none;
}

.met_audio_current_time {
    width: 45px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    font-size: 12px;
    color: #595959;
    display: inline-block;
}

.met_audio_progress_bar {
    height: 5px;
    background-color: #3D3D3D;
    width: auto;
    margin: 0 110px;
    display: block;
    margin-top: -28px;
    cursor: pointer;
}

.met_audio_current_progress {
    background-color: #4D4D4D;
    height: 5px;
    position: relative;
    -webkit-transition: width linear 0.1s;
    -moz-transition: width linear 0.1s;
    -ms-transition: width linear 0.1s;
    -o-transition: width linear 0.1s;
}

.met_audio_current_progress:before {
    position: absolute;
    content: '\f0d7';
    font-size: 16px;
    top: -14px;
    right: -3.9px;
    font-family: FontAwesome;
    color: #4D4D4D;
}

.met_audio_current_progress:after {
    position: absolute;
    content: '\f0d8';
    font-size: 16px;
    bottom: -14px;
    right: -3.9px;
    font-family: FontAwesome;
    color: #4D4D4D;
}

.met_audio_total_time {
    width: 45px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-size: 12px;
    color: #595959;
    display: inline-block;
    float: right;
}

.met_audio_sound {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: none;
    border-left: 1px solid #171717;
    color: #575757;
    text-align: center;
    font-size: 25px;
    background: none;
    float: right;
    position: relative;
    z-index: 3;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
}

.met_audio_sound:hover {
    background-color: #171717;
}

.met_audio_volume {
    position: absolute;
    height: 50px;
    width: 0;
    top: 0;
    right: 100%;
    overflow: hidden;
    background-color: #171717;
    -webkit-transition: width ease-in 0.3s, padding ease-in 0.3s;
    -moz-transition: width ease-in 0.3s, padding ease-in 0.3s;
    -ms-transition: width ease-in 0.3s, padding ease-in 0.3s;
    -o-transition: width ease-in 0.3s, padding ease-in 0.3s;
}

.met_audio_sound:hover .met_audio_volume {
    width: 100px;
    padding: 0 15px;
}

.met_audio_sound .met_audio_sound_volume {
    position: absolute;
    line-height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

/*-------------------------------
	Pagination
 ------------------------------*/
.n_pagination {
    margin-bottom: 0;
}

.n_pagination ul {
    box-shadow: none;
    border-radius: 0;
}

.n_pagination > ul > li > a {
    border: none;
    background-color: #0F1010;
    color: #D8D8D8;
    margin: 0 1px;
    padding: 7px 12px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.n_pagination > ul > li > a:hover,
.n_pagination > ul > li > a.active {
    background-color: #D8D8D8;
    color: #0F1010;
}

.n_pagination > ul > li > a:first-child,
.n_pagination > ul > li > a:last-child {
    border-radius: 0;
}

/*-------------------------------
	404 Page
 ------------------------------*/
.met_404_wrap {
    padding: 200px 0;
}

.met_404_wrap h1 {
    font-size: 45px;
    margin-bottom: 0;
    line-height: 45px;
}

.met_404_wrap form {
    position: relative;
    max-width: 462px;
    margin-bottom: 90px;
}

.met_404_wrap form .met_search_button {
    background-image: url('../img/magnifier_dark.png');
    top: 12px;
}

.met_404_wrap input[type="text"] {
    max-width: 440px;
    border: 1px solid #BABABA;
    background-color: #D8D8D8;
    border-radius: 0;
    padding: 11px 10px;
    display: block;
    width: 92%;
}

.met_404_form_seperator {
    max-width: 462px;
    height: 1px;
    background-color: #212121;
    margin-bottom: 15px;
}

.met_404_wrap .met_footer_social_icons {
    margin-top: 20px;
}

/*-------------------------------
	Met Filters
 ------------------------------*/
#met_filters_list {
    float: right;
    margin-left: 20px;
}

.met_filters {
    list-style: none;
    background-color: #212121;
    border-radius: 4px;
    padding: 12px;
    margin: 0 0 25px 0;
}

.met_filters li {
    float: left;
    margin: 0 10px;
    list-style: none;
}

.met_filters li:first-child {
    margin-left: 0;
}

.met_filters li:last-child {
    margin-right: 0;
}

.met_filters li a {
    font-size: 12px;
    text-decoration: none;
    color: #595959;
}

.met_filters li a.met_color3 {
    color: #C3C3C3;
}

/*-------------------------------
	Responsive Navigation
------------------------------*/
.met_responsive_nav {
    display: none;
    background-image: url('../img/responsive-nav-bg.png');
    background-position: center right;
    background-repeat: no-repeat;
    display: none;
    width: 49%;
    -webkit-appearance: none;
    background-color: #212226;
    border: 1px solid #18191C;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #8F8F8F;
    padding: 0 10px;
    border-radius: 0;
    line-height: 14px;
    float: right;
    margin-left: 2%;
    margin-bottom: 2%;
}

/*-------------------------------
	Kabubu Accordion Nav
 ------------------------------*/
.met_kabubu_accordion_item {
    margin-bottom: 10px;
}

.met_kabubu_accordion_sign {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    float: left;
    background-color: #212121;
}

.met_kabubu_accordion_detail {
    margin-left: 60px;
}

.met_kabubu_accordion_descr {
    display: none;
}

.met_kabubu_item_title {
    line-height: 40px;
    height: 40px;
}

/*-------------------------------
	Back to Top
 ------------------------------*/
#back-to-top {
    height: 9px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: fixed;
    right: -50px;
    width: 49px;
    z-index: 9999;
    display: block;
    top: 85%;
    background-image: url("../img/back_to_top.png");
    background-repeat: no-repeat;
    background-position: center 15px;
    background-color: #404040;
    font-size: 9px;
    font-weight: 900;
    color: #FFFFFF;
    text-align: center;
    line-height: 1;
    padding: 28px 0 12px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}

#back-to-top.back-to-top-on {
    right: 10px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

#back-to-top.back-to-top-off {
    right: -59px
}

#back-to-top:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*-------------------------------
	Response For Tablets
------------------------------*/
@media (max-width: 777px) {

    .met_portfolio_list_3_columns .met_portfolio_item {
        width: 31.623931623931625%
    }

    .met_page_wrapper.met_boxed_layout {
        width: 100%;
    }

    .met_content {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .met_news_ticker_wrapper {
        width: 553px;
        overflow: hidden;
    }

    .met_testimonial {
        margin-bottom: 12px;
    }

    .met_content .row-fluid [class*="span"] {
        margin-bottom: 40px;
    }

    .met_content .row-fluid [class*="span"]:last-child {
        margin-bottom: 0;
    }

    .met_portfolio_detail_image {
        width: 100%;
        max-width: 100%;
    }

    .met_portfolio_detail_image img {
        width: 100%;
    }

    .met_portfolio_detail_image iframe {
        width: 100%;
    }

    .met_portfolio_detail_details {
        padding: 0 5% 60px 5%;
        position: relative;
        float: left;
        width: 90%;
        margin: 0;
    }

    .met_portfolio_detail_details:before {
        top: -7px;
        left: 50%;
    }

    .met_responsive_nav {
        display: block;
        margin: 65px 0 0 0;
    }

    .met_main_menu {
        display: none;
    }

    .met_header_head a.pull-right {
        display: none;
    }

    .met_mainpage_portfolio .met_recent_work {
        width: 33.23333333333333%;
    }

    .met_portfolio_list_4_columns .met_portfolio_item {
        width: 31.623931623931625%;
    }
}

/*-------------------------------
	Response For Mobile Landscape
------------------------------*/
@media (max-width: 490px) {

    .met_fixed_header .met_logo_container {
        margin-top: 12px !important;
    }

    .met_fixed_header {
        padding-top: 100px !important;
    }

    header,
    .met_fixed_header:before {
        height: 100px !important;
    }

    .met_logo_container {
        margin-top: 12px;
    }

    .met_header_search_box {
        margin-top: 28px !important;
    }

    header {
        height: 100px;
    }

    .met_news_ticker_wrapper {
        width: 294px;
    }

    .met_portfolio_item {
        width: 48.33617021276595% !important;
    }

    .met_blog_1_summary {
        width: 268px;
    }

    .met_blog_1_summary + aside {
        margin-left: 308px;
    }

    .met_blog_post_big {
        width: 100%;
        margin-bottom: 10px;
    }

    .met_blog_posts_shorts {
        width: 100%;
        padding-left: 0;
    }

    .met_mainpage_portfolio .met_recent_work {
        width: 100%;
    }

    .met_page_title h1 {
        float: none;
        padding-right: 0;
        margin-right: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}

/*-------------------------------
	Response For Mobile Portrait
------------------------------*/
@media (max-width: 340px) {

    .met_news_ticker_wrapper {
        width: 150px;
    }

    .met_portfolio_item {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .met_blog_1_summary {
        width: 135px;
    }

    .met_blog_1_summary + aside {
        margin-left: 178px;
    }

}